Source: dsck
Section: admin
Priority: optional
Maintainer: Tatsuki Sugiura <sugi@nemui.org>
Build-Depends-Indep: debhelper (>= 7.0.50~), rdtool
Standards-Version: 3.9.3

Package: dsck
Architecture: all
Depends: ${misc:Depends}, postfix | sendmail | qmail | exim | mail-transport-agent, ruby | ruby-interpreter
Description: simple disk space checker
 disck space chcker with ruby.
 checks filesystem disk space usage by cron.
